@model EntityLayer.Concrete.Contact
@{
    ViewBag.Title = "İstifadəçi mesajları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    @@media print {

        @@page {
            size: A4;
            margin: 5px;
            left: 0;
            top: 0;
        }
        body * {
            visibility: hidden;
            margin: 0px;
            left: 0;
            top: 0;
        }

        #printArea * {
            margin: 5px;
            padding: 2px;
            visibility: visible;
            position: relative;
            left: 0;
            top: 0;
        }
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>İstifadəçi mesajları</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">

        @Html.Action("MailLeftMenu", "Contact", "Admin")

        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Mesaj Detalları</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0" id="printArea">
                    <div class="mailbox-read-info">
                        <h5>@Model.Subject</h5>
                        <h6>
                            Göndərən: @Model.Email
                            <span class="mailbox-read-time float-right">@Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm")</span>
                        </h6>
                    </div>
                    <!-- /.mailbox-read-info -->
                    <div class="mailbox-controls with-border text-center">
                        <div class="btn-group">
                            <a href="/Admin/Contact/Delete/@Model.ID" onclick="return confirm('Mesaj silinsinmi?')" class="btn btn-default btn-sm" data-container="body" title="Delete" >
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                        <!-- /.btn-group -->
                        <button class="btn btn-default btn-sm" title="Print" onclick="window.print();">
                            <i class="fas fa-print"></i>
                        </button>
                    </div>
                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        <p>@Html.Raw(Model.Message)</p>
                    </div>
                    <!-- /.mailbox-read-message -->
                </div>
                <div class="card-footer">
                    @if (!Model.IsDeleted)
                    {
                        <div class="float-right">
                            <a href="/Admin/Contact/Create/@Model.ID" class="btn btn-default"><i class="fas fa-file-alt"></i> Cavabla</a>
                        </div>
                        <a href="/Admin/Contact/Delete/@Model.ID" onclick="return confirm('Mesaj silinsinmi?')" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</a>
                    }
                    <button type="button" class="btn btn-default" onclick="window.print();"><i class="fas fa-print"></i> Çap Et</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

