@model EntityLayer.Concrete.Contact

@using (Html.BeginForm("Draft", "Contact", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.UserName)
    @Html.HiddenFor(x => x.Email)
    @Html.HiddenFor(x => x.Subject)
    @Html.HiddenFor(x => x.Message)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.IsReaded)
    @Html.HiddenFor(x => x.IsDeleted)
    @Html.HiddenFor(x => x.IsResponded)
    @Html.HiddenFor(x => x.DeletedDate)
    <div class="float-right">
        <button type="submit" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Qaralama kimi saxla</button>
    </div>
}
