@model IEnumerable<EntityLayer.Concrete.RoleMethod>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MethodName.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Name)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MethodName.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>

    </tr>
}

</table>
