@model EntityLayer.Concrete.Writer

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="@Model.ImageURL"
                                 alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">@Model.Name @Model.Surname</h3>

                        <p class="text-muted text-center">@ViewBag.Email</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Başlıqlarım</b> <a class="float-right">@ViewBag.Headings</a>
                            </li>
                            <li class="list-group-item">
                                <b>Məzmunlarım</b> <a class="float-right">@ViewBag.Contents</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Haqqımda</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p class="text-muted">
                            @Html.Raw(Model.About)
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#LastPosts" data-toggle="tab">Son 5 paylaşlan</a></li>
                            <li class="nav-item"><a class="nav-link" href="#LastActivity" data-toggle="tab">Son 5 aktivliyim</a></li>
                            <li class="nav-item"><a class="nav-link" href="#EditData" data-toggle="tab">Məlumatları yenilə</a></li>
                            <li class="nav-item"><a class="nav-link" href="#EditPassword" data-toggle="tab">Şifrəni yenilə</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- /.tab-pane -->
                            @Html.Action("LastPosts", "Writer", "Writer")

                            <!-- /.tab-pane -->
                            @Html.Action("LastActivity", "Writer", "Writer")

                            <div class="tab-pane" id="EditData">
                                <input type="hidden" id="WriterID" value="@Model.ID" />
                                <input type="hidden" id="Password" value="@Model.Password" />
                                <input type="hidden" id="ConfirmPassword" value="@Model.Password" />
                                <input type="hidden" id="Status" value="@Model.Status" />
                                <input type="hidden" id="ImageURL" value="@Model.ImageURL" />
                                <input type="hidden" id="RoleID" value="@Model.RoleID" />
                                <div class="alert alert-danger">
                                    <p id="EditResponce"></p>
                                </div>
                                <div class="form-group row">
                                    <label for="Name" class="col-sm-2 col-form-label">Ad</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Name" placeholder="Adınız" value="@Model.Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Surname" class="col-sm-2 col-form-label">Soyad</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Surname" placeholder="Soyad" value="@Model.Surname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Email" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="Email" placeholder="Email" value="@ViewBag.Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ImageURL" class="col-sm-2 col-form-label">FotoURL</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="ImageFile" name="imageFile" />
                                        @if (Model.ImageURL != null)
                                        {
                                            <img src="@Model.ImageURL" alt="profil" style="width:150px"/>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="About" class="col-sm-2 col-form-label">Haqqımda</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="About" placeholder="Haqqımda">@Model.About</textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button id="btnEditData" type="submit" class="btn btn-danger">Dəyişiklik et</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="EditPassword">
                                <div class="alert alert-danger">
                                    <p id="EditPasswordResponse"></p>
                                </div>
                                <div class="form-group row">
                                    <label for="WOldPassword" class="col-sm-2 col-form-label">Cari Şifrəniz</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="WOldPassword" placeholder="Cari Şifrəniz">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="WPassword" class="col-sm-2 col-form-label">Yeni Şifrəniz</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="WPassword" placeholder="Yeni Şifrəniz">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="WConfirmPassword" class="col-sm-2 col-form-label">Şifrənin təkrarı</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="WConfirmPassword" placeholder="Şifrənin təkrarı">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button id="btnEditPassword" type="submit" class="btn btn-danger">Dəyişiklik et</button>
                                    </div>
                                </div>
                            </div>

                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts{
    <script>
        $("#btnEditData").on('click', function (e) {
            e.preventDefault();
            var formDataEdit = new FormData();
            formDataEdit.append('Name', $("#Name").val());
            formDataEdit.append('ID', $("#WriterID").val());
            formDataEdit.append('Surname', $("#Surname").val());
            formDataEdit.append('Email', $("#Email").val());
            formDataEdit.append('Status', $("#Status").val());
            formDataEdit.append('Password', $("#Password").val());
            formDataEdit.append('ConfirmPassword', $("#ConfirmPassword").val());
            formDataEdit.append('About', $("#About").val());
            formDataEdit.append('ImageURL', $("#ImageURL").val());
            formDataEdit.append('RoleID', $("#RoleID").val());
            formDataEdit.append('imageFile', document.getElementById("ImageFile").files[0]);

            $.ajax({
                type: "post",
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                data: formDataEdit,
                url: "/Writer/Writer/Edit",
                success: function (responce) {
                    if (responce != 200) {
                        let data = jQuery.parseJSON(responce);
                        let alert = "";
                        $.each(data, (index, value) => {
                            alert += `*${value}</br>`;
                        });
                        $("#EditResponce").html(alert);
                    }
                    else {
                        alert("Məlumatlar yeniləndi.");
                        location.reload();
                    }
                },
                error: function (e, t, x) {
                    alert(t);
                }
            });
        });

        $("#btnEditPassword").on('click', function (e) {
            e.preventDefault();
            var formDataEdit = new FormData();
            formDataEdit.append('Name', $("#Name").val());
            formDataEdit.append('ID', $("#WriterID").val());
            formDataEdit.append('Surname', $("#Surname").val());
            formDataEdit.append('Email', $("#Email").val());
            formDataEdit.append('Status', $("#Status").val());
            formDataEdit.append('Password', $("#WPassword").val());
            formDataEdit.append('OldPassword', $("#WOldPassword").val());
            formDataEdit.append('ConfirmPassword', $("#WConfirmPassword").val());
            formDataEdit.append('About', $("#About").val());
            formDataEdit.append('ImageURL', $("#ImageURL").val());
            formDataEdit.append('RoleID', $("#RoleID").val());
            //formDataEdit.append('ImageURL', document.getElementById("ImageURL").files[0]);
            $.ajax({
                type: "post",
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                data: formDataEdit,
                url: "/Writer/Writer/EditPassword",
                success: function (responce) {
                    if (responce != 200) {
                        let data = jQuery.parseJSON(responce);
                        let alert = "";
                        $.each(data, (index, value) => {
                            alert += `*${value}</br>`;
                        });
                        $("#EditResponce").html(alert);
                    }
                    else {
                        alert("Məlumatlar yeniləndi.");

                        location.replace("/Account/Logout");
                    }
                },
                error: function (e, t, x) {
                    alert(t);
                }
            });
        });
    </script>
}
<script>

</script>