@model IEnumerable<EntityLayer.Concrete.Content>

@{
    ViewBag.Title = "Məzmunlar";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Məzmunlar</h2>

<p>
    <a href="/Writer/Content/Create" class="btn btn-primary">Yeni Məzmun</a>
</p>
<table class="table">
    <tr>
        <th>
            Başlıq
        </th>
        <th>
            Məzmun
        </th>
        <th>
            Yaranma Tarixi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Heading.Name
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.CreatedDate.ToString("dd-MMM-yyyy")
            </td>
            <td>
                <a href="/Writer/Content/Edit/@item.ID" class="badge badge-success" title="düzəliş et"><i class="fas fa-edit"></i></a> |

                <a class="badge badge-danger" title="Sil" onclick="Delete(@item.ID)"><i class="fas fa-trash-alt"></i></a>

            </td>
        </tr>
    }

</table>

<script>
    function Delete(id) {
        var url = "/Writer/Content/Delete/" + id;
        if (confirm("Silmək isdədiyinizdən əminsinizmi?")) {
            window.open(url, '_self');
        } else {
            window.open('/Writer/Content', '_self');
        }
    };
</script>



@if (TempData["WDeleteContent"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["WDeleteContent"].ToString()))");
    </script>
}

@if (TempData["WEditContent"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["WEditContent"].ToString()))");
    </script>
}

