@model IEnumerable<ShowcaseAPI.Models.Entity.Image>

@{
    ViewBag.Title = "Şəkillər";
    Layout = "~/Views/Shared/_ShowcaseLayout.cshtml";
}

<h2>Şəkillər</h2>

<p>
    <a href="/Showcase/Galery/Create" class="btn btn-primary">Yeni şəkil</a>
</p>
<table class="table">
    <tr>
        <th>
            Ad
        </th>
        <th>
            Başlıq
        </th>
        <th>
            Şəkil
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@item.URL" alt="Attachment" style="max-width:250px; height:auto">
                </td>
                <td>
                    <a href="/Showcase/Galery/Edit/@item.ID" class="badge badge-success" title="düzəliş et"><i class="fas fa-edit"></i></a> |
                    <a class="badge badge-danger" title="Sil" onclick="Delete(@item.ID)"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    }

</table>

<script>
    function Delete(id) {
        var url = "/Showcase/Galery/Delete/" + id;
        if (confirm("Silmək isdədiyinizdən əminsinizmi?")) {
            window.open(url, '_self');
        } else {
            window.open('/Showcase/Galery', '_self');
        }
    };
</script>



@if (TempData["DeleteImage"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["DeleteImage"].ToString()))");
    </script>
}

@if (TempData["EditImage"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["EditImage"].ToString()))");
    </script>
}

