
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    @*@Html.Partial("~/Areas/Admin/Views/Istatistik/TotalCategory.cshtml")*@
    @Html.Action("TotalCategory", "Istatistik", "Admin")
    <!-- ./col -->
    @Html.Action("TotalHeadingByProgramming", "Istatistik", "Admin")
    <!-- ./col -->
    @Html.Action("FindASimvolInWriter", "Istatistik", "Admin")
    <!-- ./col -->
    @Html.Action("CategoryMostTitle", "Istatistik", "Admin")
    <!-- ./col -->
    @Html.Action("Difference", "Istatistik", "Admin")
</div>