@model IEnumerable<EntityLayer.Concrete.Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="time-label" style="margin-bottom:25px">
    <form action="Index" method="post">
        @Html.Action("SearchBox", "Home")
    </form>
</div>
<div class="timeline timeline-inverse">

    <div class="time-label">
        @if (Model != null)
        {
            <span class="bg-primary">
                @(DateTime.Now.AddDays(-5).ToString("dd/MM/yyyy") + " - " + DateTime.Now.ToString("dd/MM/yyyy"))
            </span>
        }
    </div>
    <br />
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            <!-- timeline time label -->
            <div class="time-label">
                <span class="bg-danger">
                    @item.Heading.Name
                </span>
            </div>
            <!-- timeline item -->
            <div>
                <i class="fas fa-ellipsis-h bg-warning"></i>

                <div class="timeline-item">
                    <span class="time"><i class="far fa-clock"></i> @((DateTime.Now - item.CreatedDate).Hours) saat əvvəl</span>

                    <h3 class="timeline-header"><a>@item.Writer.Name @item.Writer.Surname</a></h3>

                    <div class="timeline-body">
                        @item.Text
                    </div>
                </div>
            </div>
            <!-- END timeline item -->
        }
    }
    else
    {
        <div class="time-label">
            <span class="bg-danger">
                Son 5 gündə heç bir məzmun yazılmamışdır.
            </span>
        </div>
    }


</div>