@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "Mesaj Detalları";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<style>
    @@media print {

        @@page {
            size: A4;
            margin: 5px;
            left: 0;
            top: 0;
        }

        body * {
            visibility: hidden;
            margin: 0px;
            left: 0;
            top: 0;
        }

        #printArea * {
            margin: 5px;
            padding: 2px;
            visibility: visible;
            position: relative;
            left: 0;
            top: 0;
        }
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesaj Detalları</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">

        @Html.Action("MailLeftMenu", "Message", "Writer")

        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Mesaj Detalları</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="mailbox-read-info">
                        <h5>@Model.Subject</h5>
                        <h6>
                            Göndərən: @Model.SenderEmail <br />
                            Göndərilən: @Model.ReceiverEmail
                            <span class="mailbox-read-time float-right">@Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm")</span>
                        </h6>
                    </div>
                    <!-- /.mailbox-read-info -->
                    <div class="mailbox-controls with-border text-center">
                        <!-- /.btn-group -->
                        <button class="btn btn-default btn-sm" title="Print" onclick="window.print();">
                            <i class="fas fa-print"></i>
                        </button>
                    </div>
                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        <p>@Html.Raw(Model.MessageText)</p>
                    </div>
                    <!-- /.mailbox-read-message -->
                </div>
                <div class="card-footer">
                    @if (!Model.IsDraft)
                    {
                        if (!Model.IsDeleted && !Model.IsResponded)
                        {
                            <div class="float-right">
                                <a href="/Writer/Message/Reply/@Model.ID" class="btn btn-default"><i class="fas fa-file-alt"></i> Cavabla</a>
                            </div>
                        }
                    }
                    @if (!Model.IsDeleted)
                    {
                        <a href="/Writer/Message/Delete/@Model.ID" onclick="return confirm('Mesaj silinsinmi?')" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</a>
                    }

                    <button type="button" class="btn btn-default" onclick="window.print();"><i class="fas fa-print"></i> Çap Et</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


