@model EntityLayer.Concrete.Message

@{
    ViewBag.Title = "Mesajı Cavabla";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<!-- summernote -->
<link href="~/AdminLTE/plugins/summernote/summernote-bs4.css" rel="stylesheet" />


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesajı Cavabla</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="row">

        @Html.Action("MailLeftMenu", "Message", "Writer")

        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Mesajı Cavablayın</h3>
                </div>

                <!-- /.card-header -->
                @using (Html.BeginForm("Reply", "Message", "Writer", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.ID)
                    @Html.HiddenFor(x => x.ReceiverEmail)
                    @Html.HiddenFor(x => x.ContactID)
                    @Html.HiddenFor(x => x.IsDraft)
                    @Html.HiddenFor(x => x.DeletedDate)
                    @Html.HiddenFor(x => x.CreatedDate)
                    @Html.HiddenFor(x => x.IsResponded)
                    @Html.HiddenFor(x => x.IsReaded)
                    @Html.HiddenFor(x => x.IsDeleted)
                    <div class="card-body">
                        <div class="form-group">
                            <input type="email" value="@Model.ReceiverEmail" disabled="disabled" readonly class="form-control" />
                            @*<input class="form-control" placeholder="Kimə:" @Html.NameFor(x => x.ReceiverEmail)>*@
                            @Html.ValidationMessageFor(model => model.ReceiverEmail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @*<input class="form-control" placeholder="Başlıq:" @Html.NameFor(x => x.Subject)>*@
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Başlıq:" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <textarea id="compose-textarea" class="form-control" style="height: 700px" name="MessageText">@Model.MessageText</textarea>
                            @Html.ValidationMessageFor(model => model.MessageText, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="btn btn-default btn-file">
                                <i class="fas fa-paperclip"></i> Fayl yüklə
                                <input type="file" name="attachment">
                            </div>
                            <p class="help-block">Max. 32MB</p>
                        </div>
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Göndər</button>
                        </div>
                        @if (!Model.IsDraft)
                        {
                            <a href="/Writer/Message/Draft/@Model.ID" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Qaralama kimi saxla</a>
                        }

                    </div>
                }
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- Summernote -->
<script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>

<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote()
    })
</script>

