@model IEnumerable<EntityLayer.Concrete.Content>

@{
    ViewBag.Title = "Məzmunlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Məzmunlar</h2>

<p>
    <a href="/Admin/Content/Create" class="btn btn-primary">Yeni Məzmun</a>
</p>
<table class="table">
    <tr>
        <th>
            Başlıq
        </th>
        <th>
            Yazar
        </th>
        <th>
            Məzmun
        </th>
        <th>
            Yaranma Tarixi
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Heading.Name
            </td>
            <td>
                @item.Writer.Name @item.Writer.Surname
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.CreatedDate.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @if (item.Status)
                {
                    <span class="badge badge-success">Aktiv</span>
                }
                else
                {
                    <span class="badge badge-danger">Silinmiş</span>
                }
            </td>
            <td>
                <a href="/Admin/Content/Edit/@item.ID" class="badge badge-success" title="düzəliş et"><i class="fas fa-edit"></i></a> |
                @if (item.Status)
                {
                    <a class="badge badge-danger" title="Sil" onclick="Delete(@item.ID)"><i class="fas fa-trash-alt"></i></a>
                }
                else
                {
                    <a class="badge badge-warning" title="Bərpa Et" onclick="Restore(@item.ID)"><i class="fas fa-recycle"></i></a>
                }
            </td>
        </tr>
    }

</table>

<script>
    function Delete(id) {
        var url = "/Admin/Content/Delete/" + id;
        if (confirm("Silmək isdədiyinizdən əminsinizmi?")) {
            window.open(url, '_self');
        } else {
            window.open('/Admin/Content', '_self');
        }
    };

    function Restore(id) {
        var url = "/Admin/Content/Restore/" + id;
        if (confirm("Silmək isdədiyinizdən əminsinizmi?")) {
            window.open(url, '_self');
        } else {
            window.open('/Admin/Content', '_self');
        }
    };
</script>



@if (TempData["DeleteContent"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["DeleteContent"].ToString()))");
    </script>
}

@if (TempData["EditContent"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["EditContent"].ToString()))");
    </script>
}

@if (TempData["RestoreContent"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["RestoreContent"].ToString()))");
    </script>
}