@model IEnumerable<ShowcaseAPI.Models.Entity.Tool>

@{
    ViewBag.Title = "Alətlər";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Alətlər</h2>

<p>
    <a href="/Showcase/Tool/Create" class="btn btn-primary">Yeni Alət</a>
</p>
<table class="table">
    <tr>
        <th>
            Alət
        </th>
        <th>
            Faiz
        </th>
        <th>
            Rəng
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td>
                    <span class="badge badge-@item.Type.Substring(item.Type.IndexOf("-")+1)">rəng</span>
                </td>
                <td>
                    <a href="/Showcase/Tool/Edit/@item.ID" class="badge badge-success" title="düzəliş et"><i class="fas fa-edit"></i></a> |
                    <a class="badge badge-danger" title="Sil" onclick="Delete(@item.ID)"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    }

</table>

<script>
    function Delete(id) {
        var url = "/Showcase/Tool/Delete/" + id;
        if (confirm("Silmək isdədiyinizdən əminsinizmi?")) {
            window.open(url, '_self');
        } else {
            window.open('/Showcase/Tool', '_self');
        }
    };
</script>



@if (TempData["DeleteTool"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["DeleteTool"].ToString()))");
    </script>
}

@if (TempData["EditTool"] != null)
{
    <script>
        swal("@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["EditTool"].ToString()))");
    </script>
}